.shopcategory-banner{
    display: block;
    width: 82%;
    margin: 20px auto;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 90px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 10px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    width: 180px;
    height: 55px;
    border-radius: 60px;
    background: #ededed;
    color: #787878;
    font-size: 15px;
    font-weight: 500;
}